@model MyRideTrackerWebApp.Models.Ride

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ride</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RideDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MileageStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MileageStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MileageEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MileageEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RideRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RideDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RideId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
